.text-center {
  text-align: center;
}
.header {
  background-color: #3e91c9;
  color: #fff;
  font-size: 18px;
}
.header ul li {
  display: inline-block;
  vertical-align: top;
  padding: 20px 30px;
}
.header ul li:after {
  content: '';
  width: 10px;
  height: 10px;
  background-color: #fff;
  display: inline-block;
  vertical-align: middle;
  margin-left: 30px;
  border-radius: 20px;
}
.iconEmail {
  display: inline-block;
  vertical-align: middle;
  width: 100px;
  bakground: url("../img/icons/Email.png") no-repeat center;
}
